.form-submit{
    max-width: 450px;
	width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-submit fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #E60000;
    padding: 20px;
    background: #99CCFF;
    box-shadow: inset 0px 0px 15px #85335C;
    -moz-box-shadow: inset 0px 0px 15px #85335C;
    -webkit-box-shadow: inset 0px 0px 15px #85335C;
}

.form-submit span{
	margin: 0px 0px 0px 30px;
	border: 0px solid #FFFFFF;
}

.form-title{
    max-width: 450px;
	width: 450px;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}

#title_span{
	float: left;
	margin: 0px 20px 0px 0px;
	border: 0px solid #FFFFFF;
}

.form-title fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #E60000;
    padding: 0px 10px 0px 20px;
    background: #99CCFF;
    box-shadow: inset 0px 0px 15px #85335C;
    -moz-box-shadow: inset 0px 0px 15px #85335C;
    -webkit-box-shadow: inset 0px 0px 15px #85335C;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}
